
.popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.377);
    top: 0;
    margin: 0;
    width: 100%;
    min-height: 120%;

    display: flex;
    justify-content: center;

    overflow: auto;
}

.conteudo__popup {
    background-color: var(--cor-primaria);
    width: 70vw;
    min-height: 90vh;
    border-radius: 0.5em;
    margin: 1em;
}